{% extends "Registro/padre.html" %}  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
  
    {% block contenidoQueCambia %}
    <link href="{%static "registro/css/estilo.css"%}" rel="stylesheet" />
    <h1 class="titulo">Registrar un nuevo cliente</h1>
    <div class="contenedor" >
    <a class="boton" href="{% url "clFormulario" %}">Vamos!</a>
    </div>
    {% endblock %} 
   
</body>
</html>